* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
      display: flex;
      flex-direction: column;
      height: 100vh;
      background: linear-gradient(to bottom, white 30%, #6bbfff 60%, black 100%);
      border-radius: 0 0 10px 10px;
    }

.goback {
  position: absolute;
  top: 25px;
  left: 20px;
  font-weight: bold;
  font-size: 18px;
  z-index: 1000;
}

.goback a {
  color: #A4A4A4;
  text-decoration: none; 
}

.goback a:hover {
  color: #0073E6; 
  text-decoration: none; 
}

.goback a:active {
  color: #A4A4A4;

}

.image-container {
  position: fixed;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.image-container img {
  width: 24vh;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: block;
}


.top-bar {
    display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
      background-color: white;
      font-family: 'Arial Rounded MT Bold', sans-serif;
    }


.nav-links {
  display: flex;
  gap: 40px;
  margin-left: 150px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-family: Helvetica, sans-serif;
}

.nav-links a:hover {
  color: #0073e6;
}

.bottom {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  padding-bottom: 40px; 
}

.title {
  font-size: 200px;
  font-weight: bold;
  color: white;
}

.title2 {
  font-size: 200px;
  font-weight: bold;
  color: #83CDFF;
}

@media (max-width: 768px) {

    .top-bar {
    flex-direction: column;
    align-items: flex-start;
    }

    .nav-links {
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
    }

    .title {
    font-size: 120px;
    }
    }
