* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Bottom */
body {
  font-family: "PangramRounded", sans-serif;
  height: 100vh;
  background-color: white;
  position: relative;
}

/* who r u? wdym? */
.top-bar {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
}

/* You Are What You Eat */
.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.center-box h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}

.center-box p {
  font-size: 24px;
}

.center-box h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.5;
}

.top-left {
  font-size: 20px;
  font-weight: bold;
}

.goback {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
}

/* Bottom menus */
.bottom-box {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.bottom-row {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 10px 0;
}

.top-row {
  margin-bottom: 8px;
}

/* Unvisited link (initial/default) */
a:link {
  color: black;
  text-decoration: none;
}

/* Visited link (after clicking) */
a:visited {
  color: black;
  text-decoration: none;
}

/* Hover link */
a:hover {
  color: #0073E6;
  text-decoration: none;
}

/* Active (while being clicked) */
a:active {
  color: #0073E6;
  text-decoration: none;
}


/* --- Mobile --- */
@media (max-width: 768px) {

  .bottom-box {
    padding-left: 16px; 
  }

  .content {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

}

