
h1 {
  font-family: 'Times New Roman', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80pt; 
}


h2 {
    font-family: "ekamai", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 50pt;
}

body {
  background: rgb(255, 255, 255)
}

/* hover */
/* unvisited link  */


/* visited link */
p. a:visited {
  color: rgb(255, 0, 187);
}

/* mouse over link */
p. a:hover {
  color: rgb(105, 105, 255);
}


/* selected link */
p. a:active {
  color: yellow;
}

p.ex1 {
  padding-top: 25px;
}

.wait 
{cursor: wait;}

